button{
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5%;
    font-weight: 900;
    width: 90%;
}

button:hover{
    cursor: pointer;
    filter: opacity(0.6);
}

input{
    border: none;
    background-color: rgb(230, 228, 227);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-left: 10%;
}
