.loginContainer{
    background-color: #6aa9d3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2%;
    box-shadow: 0 1px 40px rgb(16, 56, 109);
    width: 50%;
}

.logo{
    padding-top: 4%;
}
.banner{
    padding-top: 4%;
    font-size: 3vw;
}


.forgotPassword{
    color: #757575;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 8%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 0.75rem;
}

.forgotPassword:hover{
    color: black;
}

Button{
    margin-bottom: 4%;
}